<div class="page-header">
  <h1>Приєднайся до переписки!</h1>
</div>

<ul>
  <% @users.each do |h_user| %>
    <li>
      <%
      	user = h_user[:user]
      %>
      <%= link_to user.name, action: :new, to_user_id: user.id %>
      <% if h_user[:sent_count] > 0 %>
        (<%= h_user[:sent_count] %>)
      <% end %>
	</li>
  <% end %>
</ul>