<h1>Переписка з '<%= @to_user.name %>'</h1>

<%= render 'form' %>
<div class="panel panel-default" id="messages" data-to_id="<%= @to_user.id %>">
  <div class="panel-body">
    <ul class="media-list">
      <%= render @messages %>
    </ul>
  </div>
</div>